<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.postdemo">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name="com.app.postdemo.Application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/posticon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/posticon"
        android:supportsRtl="true"
        android:theme="@style/Theme.PostDemo">
        <activity
            android:name="com.app.postdemo.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.app.postdemo.activity.PostComents"></activity>
    </application>

</manifest>